<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategorySevlet</servlet-name>
        <servlet-class>CategoryController.CategorySevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>productController.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>categoryController.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCategoryServlet</servlet-name>
        <servlet-class>categoryController.SearchCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewCategoryServlet</servlet-name>
        <servlet-class>categoryController.CreateNewCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>categoryController.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountServlet</servlet-name>
        <servlet-class>DiscountController.DiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountSearchServlet</servlet-name>
        <servlet-class>DiscountController.DiscountSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryDetailServlet</servlet-name>
        <servlet-class>categoryController.CategoryDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewDiscountServlet</servlet-name>
        <servlet-class>DiscountController.CreateNewDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDiscountServlet</servlet-name>
        <servlet-class>DiscountController.UpdateDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>OrderController.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDiscountServlet</servlet-name>
        <servlet-class>DiscountController.ViewDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiscountServlet</servlet-name>
        <servlet-class>DiscountController.DeleteDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>AccountController.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Authentication.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneralServlet</servlet-name>
        <servlet-class>generalController.GeneralServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngredientServlet</servlet-name>
        <servlet-class>ingredientController.IngredientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierServlet</servlet-name>
        <servlet-class>SupplierController.SupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGeneralServlet</servlet-name>
        <servlet-class>generalController.UpdateGeneralServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>productController.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewSupplierServlet</servlet-name>
        <servlet-class>SupplierController.CreateNewSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSupplierServlet</servlet-name>
        <servlet-class>SupplierController.UpdateSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSupplierServlet</servlet-name>
        <servlet-class>SupplierController.ViewSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <servlet-class>SupplierController.DeleteSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSupplierServlet</servlet-name>
        <servlet-class>SupplierController.SearchSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <servlet-class>AccountController.CreateNewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeForGuest</servlet-name>
        <servlet-class>homeController.HomeForGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SizeServlet</servlet-name>
        <servlet-class>sizeController.SizeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountServlet</servlet-name>
        <servlet-class>AccountController.ViewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>AccountController.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SizeServlet</servlet-name>
        <servlet-class>SizeController.SizeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSizeServlet</servlet-name>
        <servlet-class>SizeController.CreateSizeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>AccountController.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewProductServlet</servlet-name>
        <servlet-class>productController.CreateNewProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCategoryServlet</servlet-name>
        <url-pattern>/search_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewCategoryServlet</servlet-name>
        <url-pattern>/category_create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/category_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountServlet</servlet-name>
        <url-pattern>/discount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryDetailServlet</servlet-name>
        <url-pattern>/category_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountSearchServlet</servlet-name>
        <url-pattern>/discount_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewDiscountServlet</servlet-name>
        <url-pattern>/discount_create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDiscountServlet</servlet-name>
        <url-pattern>/discount_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDiscountServlet</servlet-name>
        <url-pattern>/discount_view_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiscountServlet</servlet-name>
        <url-pattern>/discount_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneralServlet</servlet-name>
        <url-pattern>/general</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngredientServlet</servlet-name>
        <url-pattern>/ingredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierServlet</servlet-name>
        <url-pattern>/supplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGeneralServlet</servlet-name>
        <url-pattern>/general_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/product_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewSupplierServlet</servlet-name>
        <url-pattern>/supplier_create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSupplierServlet</servlet-name>
        <url-pattern>/supplier_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSupplierServlet</servlet-name>
        <url-pattern>/supplier_view_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <url-pattern>/supplier_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSupplierServlet</servlet-name>
        <url-pattern>/supplier_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <url-pattern>/account_create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeForGuest</servlet-name>
        <url-pattern>/landing-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SizeServlet</servlet-name>
        <url-pattern>/size</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountServlet</servlet-name>
        <url-pattern>/account_view_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/account_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SizeServlet</servlet-name>
        <url-pattern>/size</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSizeServlet</servlet-name>
        <url-pattern>/size_create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewProductServlet</servlet-name>
        <url-pattern>/product_create</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/account_search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>landing-page</welcome-file>
    </welcome-file-list>
</web-app>
