<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategorySevlet</servlet-name>
        <servlet-class>CategoryController.CategorySevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>productController.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>categoryController.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCategoryServlet</servlet-name>
        <servlet-class>categoryController.SearchCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewCategoryServlet</servlet-name>
        <servlet-class>categoryController.CreateNewCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>categoryController.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountServlet</servlet-name>
        <servlet-class>DiscountController.DiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountSearchServlet</servlet-name>
        <servlet-class>DiscountController.DiscountSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryDetailServlet</servlet-name>
        <servlet-class>categoryController.CategoryDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCategoryServlet</servlet-name>
        <url-pattern>/search_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewCategoryServlet</servlet-name>
        <url-pattern>/category_create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/category_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountServlet</servlet-name>
        <url-pattern>/discount</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>CategoryDetailServlet</servlet-name>
        <url-pattern>/category_detail</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>DiscountSearchServlet</servlet-name>
        <url-pattern>/discount_search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
